{
  "presets": [
    ["latest", {
      "es2015": {
        "modules": false,
        "loose": true
      }
    }],
    "stage-0"
  ],

  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true, 
    }],
  ]
}
