* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "helvetica";
  background: #fff;
}

.header {
  background: #eee;
  border-bottom: 1px solid #eef;
  height: 50px;
}

.logo {
  float: left;
  display: block;
}

.nav {
  float: right;
}

.nav-item {
  float: left;
  display: block;
}

.fb-icon {

}

.map-icon {

}

.phone-icon {

}

.images {
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  position: relative;
  width: 48%;
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.image-container .description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: rgba(0, 0, 0, .3);
  color: #fff;
}

.image-container .price {
  position: absolute;
  top: 10px;
  right: 0;
  background: rgba(0, 0, 0, .3);
  color: #fff;
}

@media (max-width: 768px) {
  .image-container {
    width: 100%;
    float: none;
  }
}