<!DOCTYPE html>
<html>
<head>
  <title>Chilli & Lime | Tai Food Puerto Prinecsa</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <a class="logo" href="/"><img src="images/logo.png" alt="Chilli & Lime Logo" /></a>
      <nav class="nav">
        <a class="nav-item" href="https://www.facebook.com/ChilliNLimePalawan/" target="_blank">
          <i class="icon-facebook-official"></i>
          <span>Facebook</span>
        </a>
        <a class="nav-item" id="icon-location">
          <i class="icon-location"></i>
          <span>Location</span>
        </a>
        <a class="nav-item" id="icon-phone">
          <i class="icon-phone"></i>
          <span>Phone</span>
        </a>
      </nav>
    </div>
  </header>
  <div class="container">
    <section class="courses" id="courses">
      Preparing The Delicousness ...
    </section>
  </div>
  <footer class="footer">
    <span class="opening-hours">Opening Hours: 08:00 - 23:30, Sunday 16:00 - 23:30</span>
  </footer>

  <!-- google analytics here -->
</body>
</html>