<!DOCTYPE html>
<html>
<head>
  <title>Chilli & Lime | Tai Food Puerto Prinecsa</title>
  <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
  <header class='header'>
    <a class='logo' href='/'><img src='images/logo.jpg' alt='Chilli & Lime Logo' /></a>
    <nav class='nav'>
      <a class='nav-item fb-icon' href='http://facebook.com/chilli_lime' target='_blank'></a>
      <a class='nav-item map-icon' id='map-icon'></a>
      <a class='nav-item phone-icon' id='phone-icon'></a>
    </nav>
  </header>
  <section class='images' id='images'>
    Loading images ...
  </section>
  <footer class='footer'>
    <span class='opening-hours'>Opening Hours: 08:00 - 23:30, Sunday 16:00 - 23:30</span>
  </footer>

  <!-- google analytics here -->
</body>
</html>